prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar {
    background-color: #000;
}

prm-topbar .md-button:hover
    {background-color: #000;
}

md-fab-toolbar md-toolbar {
    background-color: #000!important;
}

prm-search-bar, prm-browse-search-bar {
    background-color: #404040;
    background-image: url("http://www.lib.cam.ac.uk/libraries_directory/images/logo.png");
    background-position: 15% 15%;
    background-repeat: no-repeat;
    color: #404040;
    font-size: inherit;
    padding-top: 6em;
}

.md-button {
    margin: 0;
}

.md-button.button-confirm {
    color: #fff;}

prm-search-bar .simple-search-wrapper .search-actions .md-button {
    background-color: #000;
}


/*the search butten*/
.md-button.button-confirm._md-focused:not([disabled]),
.md-button.button-confirm.hovered:not([disabled]),
.md-button.button-confirm.md-focused:not([disabled]),
.md-button.button-confirm:focus:not([disabled]),
.md-button.button-confirm:hover:not([disabled]) {
    border: medium none;
    border-radius: 0;
    color: #fff;
    margin: 0;
    min-width: 0;
    transition: background-color 0.3s ease 0s;
    background-color: #45aab4;

}


/*the color of the loading animation*/
prm-spinner.half-transparent .diamond{
    background-color:#fff;
}


/*the text coler in the search pox*/
input::-webkit-input-placeholder {
    color: #404040 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #404040 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #404040 !important;
}

input:-ms-input-placeholder {
    color: #404040 !important;
}

.md-button.button-confirm {
	background-color: #000;
}

prm-request-services,prm-service-button, /*prm-location-items h3,prm-location-items md-list, prm-location-items div.layout-column.layout-row,*/prm-location-items .bar.alert-bar, prm-opac md-divider:first-of-type{
    display:none!important;
}

/*prm-location-items .margin-bottom-medium, md-tab-content .tab-content-header{
    cursor: pointer;
}*/

/* allow export to ris action to span multiple lines */
prm-action-list md-tab-item span {
  line-height: normal;
}

.custom-request-panel{
    opacity: 1;
    background-color: #f3f3f3;
}
._md-panel-backdrop{
    background-color: #4a667c;
    opacity: 0.48;
}
.md-panel-outer-wrapper{
    height:150%;
}


md-tabs.icon-tabs {

  display:inline-block;
  width:70%;

}

/*
prm-full-view .action-list-addon, prm-full-view .action-list-addon, prm-search-result-list .action-list-addon {
  display:inline-block;
  vertical-align:top;
  min-width: 4em;
  padding: .5em 0;
  line-height: normal;
  margin-top: 6px;
   
}*/
 
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
 /* src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff'); */


}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff'); */
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');*/
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
src: local('Source Sans Pro bold'), local('SourceSansPro-bold'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff'); */
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin) ; 
/*  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff'); */
}

body.md-dialog-is-showing{
	overflow-x:visible!important;
}

/*red bar in front of advanced search, and text treatment*/
.search-switch-buttons.hide-xs.layout-sm-column.layout-align-sm-start-stretch > button {
    text-transform: capitalize;
    font-size:18px;
    border-left:5px solid #dd222f;
}

/*position of adv button */
prm-search-bar .search-switch-buttons, prm-tags-search-bar .search-switch-buttons {
    padding-top: 0.5em;
}

/*advanced serch button in mobile devise*/
.zero-margin.md-icon-button.md-button.md-primoExplore-theme.md-ink-ripple.hide-gt-xs
{
    background-color: transparent;
}
  